.app.dark {
    --accent-el: #32265d;
    --subaccent-el: #5a578f;
    --standart-el: #555288;
    --main-bg: #363053;
    --sec-bg: #140e2b;
    --accent-txt: #fff;
    --main-txt: #fff;
    --pale-txt: #756b8f;
    --transparent-bg: #ffffff05;
    --shadow: #232526;
    --input-bg: #272d36;
    --input-txt: #fff;
}