.app.light {
    --accent-el: #513d9a;
    --subaccent-el: #7e6fba;
    --standart-el: #7e6fba;
    --main-bg: #e9e6f4;
    --sec-bg: #f9f5ff;
    --accent-txt: #ffffff;
    --main-txt: #000000;
    --pale-txt: #B4B1BC;
    --transparent-bg: #efebff;
    --shadow: #efebff;
    --input-bg: #ffffff;
    --input-txt: #000000;
}