.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    width: 100%;

    > * {
        flex-grow: 1;
        width: 100%;
    }
}